@import '../node_modules/bootstrap/scss/bootstrap.scss';

//theme

$primary:       #3D76B9;
$secondary:     #034A8A;
$bg-color: #010831;

// Gray tones

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

.text-light-c{
    color: #C1D3E8 !important;
    font-family:'inter', sans-serif;
}

.h-100vh{
    height: 100vh;
}

.w-100p{
    width: 100%;
}

.align-items-center{
    display: flex;
    align-items: center;
}